.register {
    height: 100%;
    width: 100%;
    position: relative;
    img {
        width: 100%;
        height: 100%;
    }
    &__content {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        h1 {
            color: black;
            text-align: left;
            margin-bottom: 28px;
        }
        form {
            height: 650px;
            width: 20%;
            margin: 0 auto;
            background-color: #fff;
            padding: 60px 68px 40px;
            .text-user,
            .text-passWord,
            .text-email,
            .text-phoneNumber,
            .text-group,
            .text-groupID,
            .text-fullName {
                width: 100%;
                padding-bottom: 16px;
            }
        }
    }
}
